# MQTT
MQTT_HOST=
MQTT_PORT=8883
MQTT_USER_NAME=
MQTT_PASSWORD=

# InfluxDB (TOKEN: service-write)
INFLUX_DB_URL=http://localhost:8086
INFLUX_DB_URL_DOCKER=http://172.17.0.1:8086
INFLUX_DB_READ_TOKEN=
INFLUX_DB_WRITE_TOKEN=
INFLUX_DB_ORG=RvGateway
INFLUX_DB_BUCKET=telemetry

# MariaDB
MARIADB_HOST=localhost
MARIADB_PORT=3306
MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_NAME=
MARIADB_ROOT_PASSWORD=